.logo {
    display: block;
    margin: auto;
    flex-grow: 3;
    margin: auto;
    width: 40%;
}

.imageIcon {
    display: block;
    width: 100%;
    max-width: 10rem;
    margin: auto;
    margin-top: 0;
}
