.logo {
    display: block;
    height: 100%;
    margin: auto;
}

.imageIcon {
    display: block;
    width: 100%;
    max-width: 10rem;
}

@media (min-width: 660px) {
    .logo {
        margin: auto;
        margin-right: 0;
    }
  }