.itemsContainer > :not(:last-child) {
    padding: 0;
    padding-bottom: 1.5rem;
    margin: auto;
    margin-bottom: 1.5rem;
    border-bottom: 0.1rem solid hsl(0, 0%, 90%);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.textContainer {
    display: block;
    position: relative;
    height: 100%;
    width: 75%;
    padding: 1rem;
    padding-left: 0;
    margin: auto;
    margin-left: 0;
}

.heading {
    color: var(--primary);
    font-size: 2rem;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid var(--secondary);
    font-family: var(--font-heading);
    font-weight: 700;
    text-transform: uppercase;
    word-break: break-all;
}

.name {
    color: var(--secondary);
    margin: 0;
    word-wrap: break-word;
    font-family: var(--font-primary);
}

.description {
    color: black;
    flex: 1 1 100%;
    margin: 0.75rem 0 0;
    word-wrap: break-word;
    font-family: var(--font-primary);
}

.price {
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    margin-right: 1rem;
    word-break: break-all;
    font-family: var(--font-secondary);
}

.imageContainer {
    position: relative;
    display: block;
    min-width: 10rem;
    min-height: 10rem;
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-right: 0;
    padding: 0;
    border-style: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
}

.photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: grey;
    border-radius: 0.5rem;
}

// Extra Small screen
@media (max-width: 360px) {
    .container {
        flex-direction: column;
    }
    .imageContainer {
        margin: auto;
    }
    .textContainer {
        margin: auto;
    }
}
