.itemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

// Select all .container except last one
.itemsContainer > :not(:last-child) {
    margin-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30rem;
    height: 14rem;
    padding: 0;
    // To render as a card
    // border-radius: 1rem;
    // background-color: lightgray;
    // padding: 1rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-right: 1rem;
    margin: auto;
    justify-content: center;
    
}

.heading {
    color: var(--primary);
    font-size: 2rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-bottom: 0.1rem solid var(--secondary);
}

.name {
    color: var(--secondary);
    margin: 0;
    font-size: 1.5rem;
    word-break: break-all;
}

.description {
    color: black;
    // flex: 1;
    margin: 0;
    margin-top: 0.75rem;
    word-break: break-all;
}

.price {
    display: block;
    position: relative;
    margin-top: 1rem;
    font-size: 1.25rem;
    word-break: break-all;
}

.imageContainer {
    position: relative;
    display: block;
    height: 100%;
    min-width: 14rem;
    min-height: 14rem;
    margin: auto;
    margin-right: 0;
    padding: 0;
    border-style: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
}

.photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: grey;
    border-radius: 0.5rem;
}

// Small screen
@media (max-width: 900px) {
    .container {
        justify-content: center;
    }
}