.container {
    display: block;
    position: relative;
    flex-grow: 1;
    margin: auto;
    padding: 0;
}

.code {
    display: block;
    position: relative;
    height: 100%;
    margin: auto;
    margin-left: 0;
}
