
.form {
    position: relative;
    display: flex;
    height: 2.5rem;
    margin: auto;
}

.inputText {
    position: relative;
    display: block;
    border-radius: 0.25rem;
    border-style: solid;
    border-color: var(--primary);
    color: wheat;
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    margin: auto;
    margin-left: 0.1rem;
    margin-right: 0.75rem;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 1.15rem;
}

input.inputText:focus {
    outline: none;
    border-color: var(--secondary);
    color: var(--light);
    background-color: var(--secondary);
}

.button {
    position: relative;
    display: block;
    width: fit-content;
    height: 100%;
}

.submitIcon {
    // color: rgb(245, 87, 87);
    color: var(--secondary);
    margin: auto;
    width: 2rem;
    padding: 0.25rem;
}
