.container {
    display: block;
    width: max-content;
    min-width: 12rem;
    height: max-content;
    border-radius: 0.5rem;
    margin: auto;
    margin-left: 0;
    padding: 0.5rem;
    color: var(--light);
    background-color: var(--secondary);
}

.langLabel {
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
}

.selection {
    display: inline-block;
    position: relative;
    width: 50%;
    margin: auto;
    margin-right: 0;
    padding: 0.15rem;
}
