.container {
    display: block;
    width: max-content;
    min-width: 12rem;
    height: max-content;
    border-radius: 0.5rem;
    margin: auto;
    margin-left: 0;
    padding: 0.5rem;
    color: var(--light);
    text-align: center;
    background-color: var(--secondary);
}

.langLabel {
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
}

.selection {
    display: inline-block;
    position: relative;
    width: 50%;
    margin: auto;
    margin-right: 0;
    padding: 0.15rem;
}

// Small screen
@media (max-width: 600px) {
    .container {
        margin: auto;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }
  }