.total {
  display: flex;
  position: sticky;
  width: 100%;
  min-height: 2rem;
  height: max-content;
  align-self: center;
  align-items: flex-end;
  margin-top: 2.5rem;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  bottom: 0;
  color: var(--secondary);
  background-color: var(--light);
  border-top: 0.1rem solid var(--secondary);
  box-shadow: 0 -0.5rem 0.75rem 0.5rem var(--light);
  z-index: 200;
}
  
.totalTitle {
  font-size: 1.25rem;
  margin: 0;
}

.totalPrice {
  font-size: 1.5rem;
  margin: auto;
  margin-right: 0;
}

.searchContainer {
  position: relative;
  display: block;
  margin: auto;
  margin-left: 0.5rem;
  padding: 0;
  width: 100%;
  height: max-content;
}

// Small screen
@media (max-width: 600px) {
  .searchContainer {
      margin: auto;
      width: 100%;
  }
  .total {
    flex-direction: column;
  }
}
