.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
}

.linkContainer {
    padding: 1.25rem;
    // background-color: var(--primary);
    background-color: rgba(68, 68, 68, 0.9);
    border-radius: 1rem;
}

.linkText {
    display: block;
    position: relative;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    // color: var(--primary);
    color: var(--background);
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    background-color: rgba(246, 246, 246, 0.7);
    border-radius: 0.5rem;
}

.description {
    display: block;
    position: relative;
    color: var(--light);
    font-size: 1.5rem;
    font-family: var(--font-primary);
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
}

.companyTitle {
    font-size: 1rem;
    font-family: var(--font-secondary);
    color: var(--light);
    text-align: center;
    text-shadow: rgb(0, 0, 0) 0 0 6px;
}