:root {
  --primary: #312951;
  --secondary: #473d72;
  --light: #fafafd;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--primary);
  color: var(--light);
}

body {
  color: var(--primary);
  background-color: var(--primary);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

@media (min-width: 600px) {
  body {
    padding: 1rem;
  }
}

input {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.25rem;
  margin: 0 0.75rem;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 50%;
  text-align: center;
}

.topBanner {
  display: flex;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0;
  grid-column: 1 / 3;
  margin: 0 auto 2rem;
  flex-wrap: wrap;
}

.links {
  flex-grow: 2;
}

.menu {
  padding: 2rem 2.25rem 1rem;
  margin: 0 auto;
  max-width: 50rem;
  background-color: var(--light);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

@media (min-width: 660px) {
  .menu {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 2fr 1fr;
    /* grid-template-columns: 1fr 1fr; */
  }
}

.menuItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

@media (min-width: 660px) {
  .topBanner {
    margin-bottom: 0;
    flex-wrap: nowrap;
    height: 10rem;
  }
}

.mains {
  grid-column: 1 / 2;
}

.mainsName {
  margin: 0;
  flex-grow: 1;
}

.mainsImageContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 16rem;
  margin: auto;
  margin-top: 1rem;
  border-style: hidden;
  border-radius: 0.5rem;
  background-color: grey;
  overflow: hidden;
}

.mainsImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainsDescription {
  flex: 1 1 100%;
  margin: 0.75rem 0 0;
  color: var(--secondary);
}

.aside {
  grid-column: 2 / 3;
}

.extras {
  color: var(--secondary);
}

.extras + .extras {
  margin-top: 1.5rem;
}

@media (min-width: 660px) {
  .extras + .extras {
    margin-top: 2.5rem;
  }
}

.extras .menuItem {
  margin-bottom: 0.75rem;
}

.extrasHeading {
  margin: 0 0 1.5rem;
  border-bottom: 1px solid var(--secondary);
}

.extrasName {
  flex-grow: 1;
}

.extrasImageContainer {
  position: relative;
  display: block;
  width: 100%;
  height: 10rem;
  margin: auto;
  margin-top: 1rem;
  border-style: hidden;
  border-radius: 0.5rem;
  background-color: grey;
  overflow: hidden;
}

.extrasImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputOrderNumber {
  margin: auto;
  width: 3rem;
  font-size: medium;
  border-style: hidden;
}
